	body {
				margin: 0;
				padding: 0;
				background-color: #212121;
			}
			.perspective-container {
				perspective: 800px;
			}
			.circle-loader {
				transform-origin: center;
				animation: rotate-coin 3s linear infinite;
				will-change: transform;
			}
			@keyframes rotate-coin {
				0% {
					transform: rotateX(0deg) rotateY(0deg);
				}
				45% {
					transform: rotateX(70deg) rotateY(50deg);
				}
				50%,
				52% {
					transform: rotateX(75deg) rotateY(55deg);
				}
				100% {
					transform: rotateX(0deg) rotateY(0deg);
				}
			}
			.full-page-wrapper {
				width: 100vw;
				height: 100vh;
				height: 100dvh;
				background-color: #212121;

				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}
			.loader-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}
			.loader-container svg {
				width: calc((1vh + 1vw) * 15);
				height: calc((1vh + 1vw) * 15);
				color: #474fc1;
			}
			.loader-label {
				text-align: center;
				color: #ffffff25;
				font-weight: 600;
				font-family: sans-serif;
				font-size: 20px;
				line-height: 1.4;
			}